untitled.sublime-project
untitled.sublime-workspace
toying with opencv/rgb2qimage.pyc
toying with opencv/toQImage.pyc
pyqt_book.sublime-project
pyqt_book.sublime-workspace
change_author.sh
pyqtbook.sublime-project
pyqtbook.sublime-workspace
data/B3+CGRP-20x-1a.tif
data/B3+CGRP-20x-1ab.tif
data/B3+CGRP-20x-1b.tif
data/Image_01.jpg
data/Image_02.jpg
data/Image_04.jpg
data/Image_06.jpg
data/Image_09.jpg